/* googleフォント読み込み */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* 全体のスタイル */
body {
  box-sizing: border-box;
  background-color: cadetblue;
}

#wrapper {
  padding: 24px;
  background-color: cornsilk;
  width:90%;
  margin: 0 auto;
  height: 2000px;
}

/* リンクのスタイルを初期化 */
a:link,
a:visited,
a:hover, 
a:active {  
    text-decoration: none;  
    color: #000;  
} 
/* リストの点を消す */
li {
  list-style: none;
}

.link {
  display: flex;
  justify-content: space-between;
}

.top_btn {
  display: block;
  margin-top: 100px;
}

/* ----------------index.phpのスタイル ---------------*/
#main {
  display: flex;
}

form,
#img_contents {
  width: 50%;
}

#img_contents {
  display: flex;
  justify-content: center;
  
}

#top_img {
  width: 60%;
  object-fit: scale-down;
}

label {
  display: flex;
}

h1 {
  font-size: 68px;
  font-family: 'Roboto Slab', serif;
}

#chart_link,
#analyse_link {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chart_link a,
#analyse_link a {
  font-size: 16px;
  color: white;
}

#place_section {
  margin-top: 24px;
}

#place_select {
  height: 30px;
  width: 200px;
}

#btn_section {
  margin-top: 24px;
}

#send_btn,
#send_btn_2 {
  height: 30px;
  width: 180px;
  cursor: pointer;
}

/* ---------------output.phpのスタイル -------------*/
#canvas_area {
  display: flex;
}

/*---------------- analyse.phpのスタイル -----------*/
#col_select {
  height: 30px;
  width: 200px;
  margin-bottom: 32px;
}

#number_text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

#character_section {
  margin-bottom: 48px;
}

#character_section p {
  margin-bottom:24px;
}

#chara_table input{
  width: 400px;
}

#chara_table th{
  text-align: left;
  padding-right: 32px;
}

#chara_table th{
  padding-bottom: 24px;
}

/* -------output2のスタイル ----------------------------*/

#analyse_h1 {
  margin-bottom: 24px;
}

#canvas_area-_02 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#area01,
#area02,
#area03 {
  width: 80%;
  display: flex;
  margin: 24px auto;
}
